<style type="text/css">
    #map {
      width: 400px;
      height: 400px;
    }
  </style>

<div id=map>
hola hola
</div>

 <script>
    var map = new GMaps({
      el: '#map',
      lat: -12.043333,
      lng: -77.028333
    });
  </script>

<script src = 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'> </script>
<script src="http://maps.google.com/maps/api/js"></script>
<script src="gmaps.js"></script>
